  <div class="flex flex-col sm:flex-col md:flex-row max-w-full mt-7">
    <div class="-my-2 w-full sm:-mx-2 md:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="flex gap-6 pb-5">
        <div class="font-bold text-xl mb-2">Questions</div>
        <!-- The button to open modal -->
        <app-creation-question-modal/>
      </div>
      <div class="flex justify-center" *ngIf="isLoading">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <! -- search bar -->
      <div class="flex justify-between items-center mb-4" *ngIf="!isLoading" >
        <div class="relative w-full">
          <input name="searchInput" [(ngModel)]="searchTerm" (input)="filterItems()" type="text" id="search-text" aria-describedby="search-text" class="bg-rgpd_secondary w-full sm:w-1/2 md:w-2/3 lg:w-3/4 pl-10 pr-4 py-2 rounded-lg shadow focus:outline-none focus:shadow-outline text-gray-600 font-medium" placeholder="Rechercher la question...">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3">
            <svg class="h-6 w-6 text-gray-400" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M21 21l-4.35-4.35M15.5 10.5a5 5 0 1 1-7.8 4.1 5 5 0 0 1 7.8-4.1"></path>
            </svg>
          </div>
        </div>
      </div>
      <div class="shadow w-full border-b border-gray-200 sm:rounded-lg">
        <! -- table -->
        <table class="w-full sm:min-w-full divide-y divide-gray-200 ">

          <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Titre du thème
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Référence Question 
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Titre de la question
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Type de question
            </th>
            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
              Date de création
            </th>
            <th>
            </th>
          </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
          <ng-container *ngFor="let topic of filteredItems">
            <td attr.rowspan="{{ topic.questions.length + 1 }}" class="px-6 py-4 whitespace-nowrap border-r align-top">
            <div class="text-sm font-medium text-gray-900">{{ topic.topic.title }}</div>
          </td>

            <tr *ngFor="let question of topic.questions">
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{{ question.refQ }}</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{{ question.title }}</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{{ question_type_enumMapping[question.type] }}</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{{ question.created | date : 'dd/MM/yyyy' }}</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <button class="text-rgpd_primary py-3 px-5 rounded-md bg-rgpd_secondary border-2 hover:text-red-900 mr-4" [routerLink]="['../questions/update', question.id]" >Modifier</button>
                <label
                  for="confirm-question-delete"
                  class="text-rgpd_secondary cursor-pointer  p-3 rounded-md bg-rgpd_primary hover:text-red-900 mr-4"
                  type="button"
                  (click)="saveQuestionToDelete(question.id)"
                  >Supprimer</label
                >
                <app-confirm-question-delete
                  (confirmDelete)="confirmDelete()"
                ></app-confirm-question-delete>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

