.figure {
	width: 100%;
	padding: 0;
	margin: 0 0 .5rem 0;
}
.figCaption {
  text-align: center;
}
 .figCaption .__text {
	font-family: 'Source Sans Pro';
	font-size: 10px;
  color: #F6F6EF;
	padding: 0 .5rem;
  }
.circular-chart {
  display: block;
  max-width: 120px;
  max-height: 120px;
  margin: 0 auto;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
	stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}
.circular-chart.blue .circle {
  stroke: #E73245;
}
.percentage {
  fill: #E73245;
  font-family: 'Roboto', "Helvetica Neue", sans-serif;
  font-size: 10px;
  text-anchor: middle;
}