<div class="pb-16 lg:pb-28 xl:pb-44 ml-11 mt-11 container" >

  <form (ngSubmit)="UpdateQuestion(postForm)" #postForm="ngForm" (keydown.enter)="$event.preventDefault()" >
    <div class="flex justify-center" *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="w-full lg:w-[130vh]" *ngIf="!isLoading">
      <p class="text-center font-semibold text-lg lg:text-2xl">Modifier le Question</p>
      <div *ngIf="res_msg" class="flex items-center bg-rgpd-succ text-rgpd_secondary my-7 text-sm font-bold px-4 py-3" role="alert">
        <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z"/></svg>
        <p>{{res_msg}}</p>
      </div>
      <div *ngIf="err_msg" class="flex items-center bg-rgpd_primary text-rgpd_secondary my-7 text-sm font-bold px-4 py-3" role="alert">
        <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z"/></svg>
        <p>{{err_msg}}</p>
      </div>
      <div class="form-group mb-4">
        <label for="question-ref" class="block text-gray-700 font-bold mb-">Question Référence</label>
        <input ngModel placeholder="Enter Title Here" [(ngModel)]="currentQuestion.refQ" #ref="ngModel" type="text"  id="question-ref" name="ref" class="bg-rgpd_secondary shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
        <span class="text-rgpd_primary text-sm" *ngIf="!ref.valid && ref.touched">La référence ne doit pas être vide</span>
      </div>
      <div class="form-group mb-4">
        <label for="question-Title" class="block text-gray-700 font-bold mb-2">Titre de la question </label>
        <input ngModel placeholder="Enter Title Here" [(ngModel)]="currentQuestion.title" #title="ngModel" type="text"  id="question-Title" name="title" class="bg-rgpd_secondary shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
        <span class="text-rgpd_primary text-sm" *ngIf="!title.valid && title.touched">Le titre ne doit pas être vide</span>
      </div>
      <div class="form-group mb-4">
        <label for="topic-id" class="block text-gray-700 font-bold mb-2" >Affecté à</label>
        <div class="relative">
          <select ngModel #select (change)="onSelectChange(select)" [(ngModel)]="currentQuestion.topic.id" #topic="ngModel" type="text" id="topic-id" name="topic" class=" select-auto bg-rgpd_secondary shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            <option *ngFor="let item of Topics" [value]="item.id">{{item.title}}</option>
          </select>
          <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
            <svg class="w-4 h-4 fill-current text-gray-500" viewBox="0 0 20 20">
              <path d="M5 8l5 5 5-5"></path>
            </svg>
          </div>
        </div>
        <span class="text-rgpd_primary text-sm" *ngIf="!topic.valid && topic.touched">Le titre ne doit pas être vide</span>
      </div>

      <div class="form-group mb-4">
        <label for="topic-id" class="block text-gray-700 font-bold mb-2" >Suggestions du question</label>
        <div class="relative">
          <select ngModel multiple [(ngModel)]="selectedSuggestions"  type="text" #suggestionIds="ngModel" id="suggestionIds" name="suggestionIds" class=" select-auto bg-rgpd_secondary shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            <option *ngFor="let item of suggestions" [value]="item.id">{{item.refS}}: {{item.title}}</option>
          </select>
          <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
            <svg class="w-4 h-4 fill-current text-gray-500" viewBox="0 0 20 20">
              <path d="M5 8l5 5 5-5"></path>
            </svg>
          </div>
        </div>
        <span class="text-rgpd_primary text-sm" *ngIf="!suggestionIds.valid && suggestionIds.touched">Le titre ne doit pas être vide</span>
      </div>

      <div class="form-group mb-4">
        <label for="question-type" class="block text-gray-700 font-bold mb-2">Type de question</label>
        <div class="relative">
          <select ngModel #type="ngModel" type="text" [(ngModel)]="currentQuestion.type" id="question-type" name="type" class=" select-auto bg-rgpd_secondary shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            <option value="CHOIX_MULTIPLE">Choix Multiple</option>
            <option value="CHOIX_UNIQUE">Choix Unique</option>
          </select>
          <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
            <svg class="w-4 h-4 fill-current text-gray-500" viewBox="0 0 20 20">
              <path d="M5 8l5 5 5-5"></path>
            </svg>
          </div>
        </div>
        <label class="inline-flex items-center">
          <div class="leading-5 py-5">
            <input (click)="check()" type="checkbox" name="isSubQuestion" value="yes">
            <label>   Ce question est un sous Question</label>
          </div>
        </label>
        <div class="form-group mb-4">
          <div  *ngIf="isSubQuestion">
            <label for="suggestionSrc" class="block text-gray-700 font-bold mb-2">  Ce sous question va se declancher lorque on coche la suggestion suivante :</label>
            <div class="relative">
              <select ngModel multiple [(ngModel)]="selectedSuggestionSrc" type="text" id="suggestionSrc" #suggestionSrc="ngModel" name="suggestionSrc" class=" select-auto bg-rgpd_secondary shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                <option *ngFor="let sug of suggestions" [value]="sug.id">{{sug.refS}}: {{sug.title}}</option>

              </select>
              <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
                <svg class="w-4 h-4 fill-current text-gray-500" viewBox="0 0 20 20">
                  <path d="M5 8l5 5 5-5"></path>
                </svg>
              </div>
            </div>
          </div>
          <!-- <span class="text-rgpd_primary text-sm" *ngIf="!sugg!.valid && sugg!.touched">le titre ne doit pas être vide</span>-->
        </div>      <div class="flex gap-2 mt-7">
        <button *ngIf="!title.value" class="disabled opacity-50 pointer-events-none text-rgpd_secondary p-3 rounded-md bg-rgpd_primary hover:text-red-900 mr-4" type="submit" >Mettre à jour</button>
        <button *ngIf="title.value" class="text-rgpd_secondary p-3 rounded-md bg-rgpd_primary hover:text-red-900 mr-4" type="submit" >Mettre à jour</button>

        <label class="cursor-pointer text-rgpd_primary p-3 rounded-md bg-rgpd_secondary border-2 hover:text-red-900 mr-4" (click)="goBack()" >Retour</label>
      </div>
    </div>
      </div>
  </form>
</div>
